<center>
<video autoplay muted width="1000" class="vid" loop>
<source src="media/COVID_RELIEF.mp4" />
</video>
<div class="card download-div">
<a target="_blank"style="font-size: 30px;" class="download"href="https://drive.google.com/file/d/1t3Jsl4Cnxp6l4jHnmXEuSur4qCrBBrO5/view?usp=sharing">
<button class="btn btn-danger btn-dld">Download Now</button>
</a>
</div>
</center>